@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .h-screen-adaptive {
    height: 100vh;
    height: -webkit-fill-available;
  }

  * {
    font-family: -apple-system, Helvetica;
  }
}
